/*--------IMPORT--------*/
@import url('normalize.css');

/*--------READ--------*/
.read,
.read * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.read .post {
	padding:10px;
	clear:both;
	margin:10px 0;
}

.read .post .title { color:#9cc932; }

.read .post .insec {
	font-size:8px;
	color:#238394;
}

.read .post .image {
	width:400px;
	float:left;
}