/*--------IMPORT-----------*/
@import url('normalize.css');
@import url('button.css');

/*--------LOGIN----------*/

.login,
.login * {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.login {
	background-color:#1BBC9B;
	border:3px solid #19b092;
	display:inline-block;
	padding:20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.login input {
	display:block;
	margin-top:5px;
	margin-bottom:5px;
	padding:5px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
}

.login input[type="text"],
.login input[type="password"] {
	border-style:solid;
	border-width:3px;
}

.login input[type="submit"] { width:100%; }